---
import { cn } from "../utils/cn";
import "../styles/global.css";

---

<footer
  class={cn(
    "mt-auto border-t border-white/5 py-6 sm:py-10",
    // classNames?.footer
  )}
>
  <div class="container mx-auto px-4">
    <div
      class="flex w-full items-center justify-center gap-x-6 text-sm tracking-wider"
    >
      &copy; 2026 Portofor. Under MIT license.
    </div>
  </div>
</footer>