---
import Layout from '../layouts/Layout.astro';

const siteTitle = "Portofor";
const description = "A dark-minimalist identity of yours, cooked with Astro";
---

<Layout title={siteTitle} description={description} backToLink={false}>
	 <div class="flex m-auto min-h-screen text-lg items-center">Welcome</div>
</Layout>
